ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

  ion-content{ --ion-background-color:#5c66ff38; }

  .action-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  
    ion-button{
      text-transform: capitalize;
      font-weight: 300;
      --background: #000157;
      --border-radius: 7px;
      --box-shadow: none;
    }
  
    ion-icon {
      margin-right: 1px;
    }
  }
    
    .menu-items{
      margin: 0px;
      
      ion-icon{
        margin-right: 20px;
        color: #e5ff00;
      }
      
      ion-item {
        padding-left: 20px;
        margin-bottom: 10px;
      }
      
      .active{
        border-left: 5px solid;
        color: #919b00;
        padding-left: 15px;
      
        ion-icon{
          color: #9b9100;
        }
      }
    }
    