<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Descargar app</ion-title>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://st1.uvnimg.com/dims4/default/a5b8e65/2147483647/thumbnail/1024x576%3E/quality/75/?url=https%3A%2F%2Fuvn-brightspot.s3.amazonaws.com%2Fassets%2Fvixes%2Fbtg%2Ftech.batanga.com%2Ffiles%2FComo-crear-una-carpeta-compartida-en-MediaFire-1.jpg" />
    <ion-card-header>
      <ion-card-title>Link De Descarga</ion-card-title>
      <ion-card-subtitle>APK TellevoApp - 10MB aprox.</ion-card-subtitle>
      <ion-button download="testFile" target="_self" href="https://www.mediafire.com/file/7mj75mxza7xtayd/APK+QR.apk/file">Descargar APP!</ion-button>
    </ion-card-header>
  
    <ion-card-content>
      TeLlevoAPP es una aplicación que puedes descargar en cualquier teléfono.
      A través de ella, un Conductor, que se encuentre cerca de ti, acepta tu solicitud de viaje y te lleva a donde quieras ir, de forma fácil, cómoda y segura.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer >
  <ion-toolbar color="warning" >
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>