<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Viaje</ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Aqui empieza el Menu -->
<ion-content>
  <ion-menu side="start"  menuId="first" contentId="main">

    <ion-content> 
      <div class="menu-header-bg"></div>
        <div class="header-content">
          <img src="https://www.motorpoint.com/fotos/8/toreto1_thumb_730.jpg" alt="">
          <ion-label>
            <h2>{{ usuario }}</h2>
            <p></p>
          </ion-label>
        </div>

      <ion-list class="menu-items" lines="none">


        <ion-item (click)="perfile()">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-item>
        <ion-item (click)="mapas()">
          <ion-icon name="map-outline"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-item>
        <ion-item (click)="viaju()">
          <ion-icon name="time-outline"></ion-icon>
          <ion-label>Historial</ion-label>
        </ion-item>
        <ion-item (click)="presentAlert()">
          <ion-icon name="time-outline"></ion-icon>
          <ion-label>Agregar Viaje</ion-label>
        </ion-item>
        <ion-item (click)="info()">
          <ion-icon name="information-circle-outline"></ion-icon>
          <ion-label>Quienes somos</ion-label>
          </ion-item>
        <ion-item (click)="cerrar()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Cerrar sesion</ion-label>
        </ion-item>
        <ion-item (click)="api()">
          <ion-icon name="radio-outline"></ion-icon>
          <ion-label>API</ion-label>
        </ion-item>
        <ion-item (click)="cuerre()">
          <ion-icon name="barcode"></ion-icon>
          <ion-label>Escanear QR</ion-label>
        </ion-item>
        <ion-item (click)="descarga()">
          <ion-icon name="cloud-download-outline"></ion-icon>
          <ion-label>Descarga</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
    </ion-menu>
    
    <ion-router-outlet id="main"></ion-router-outlet>
  



  <ion-list>
    <ion-item *ngFor="let aux of viajes" >
        <ion-card>
          <ion-card-header>
            <ion-card-title>Viaje </ion-card-title>
            <ion-card-subtitle>
              <ion-item>
              
                Fecha: <ion-datetime-button color="success" disabled="true" datetime="datetime"></ion-datetime-button>

                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime  id="datetime"></ion-datetime>
                  </ng-template>
                </ion-modal>
              
              
              </ion-item>
              </ion-card-subtitle>
            <ion-card-subtitle>Origen: {{ aux.origen }} <br> Destino: {{ aux.destino }}</ion-card-subtitle>
            
          </ion-card-header>
          <img src="https://www.kotaku.com.au/wp-content/uploads/sites/3/2018/03/10/xgoplsgk3jpmtewvhycz.gif" alt="">
          <ion-card-content>
            Vehiculo: {{ aux.vehiculo }}
            <br>
            Patente: {{ aux.patente }}
            <br>
            Chofer: {{ aux.conductor }}
            <br>
            Pasajeros: {{ aux.pasajeros }}
            <br>

          </ion-card-content>
            <ion-accordion-group>
              <ion-accordion value="first">
                <ion-item slot="header" color="light">
                  <ion-label><ion-icon name="star-outline"color="warning"></ion-icon> Valoracion Al Conductor 1/5 <ion-icon name="star-outline"color="warning"></ion-icon></ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
            
                    <!-- Checkbox Colors -->
                    <ul><li>
                      <ion-checkbox color="primary" checked="false"></ion-checkbox>
                      <ion-icon name="star-outline" color="warning"></ion-icon>
                    </li></ul>
                    <ul><li>
                      <ion-checkbox color="secondary" checked="false"></ion-checkbox>
                      <ion-icon name="star-outline"color="warning"></ion-icon><ion-icon name="star-outline"color="warning"></ion-icon>
                    </li></ul>
                    <ul><li>
                      <ion-checkbox color="dark" checked="false"></ion-checkbox>
                      <ion-icon name="star-outline"color="warning"></ion-icon><ion-icon name="star-outline"color="warning"></ion-icon><ion-icon name="star-outline"color="warning"></ion-icon>
                    </li></ul>
                    <ul><li>
                      <ion-checkbox color="danger" checked="false"></ion-checkbox>
                      <ion-icon name="star-outline"color="warning"></ion-icon><ion-icon name="star-outline"color="warning"></ion-icon><ion-icon name="star-outline"color="warning"></ion-icon><ion-icon name="star-outline"color="warning"></ion-icon>
                    </li></ul>
                    <ul><li>
                      <ion-checkbox color="primary" checked="true"></ion-checkbox>
                      <ion-icon name="star-outline"color="warning"></ion-icon><ion-icon name="star-outline"color="warning"></ion-icon><ion-icon name="star-outline"color="warning"></ion-icon><ion-icon name="star-outline"color="warning"></ion-icon><ion-icon name="star-outline"color="warning"></ion-icon>
                    </li></ul>
                  </div>
              </ion-accordion>
              <ion-accordion value="second">
                <ion-item slot="header" color="light">
                  <ion-label><ion-icon name="star-outline"color="warning"></ion-icon> Dejar Comentario <ion-icon name="star-outline"color="warning"></ion-icon></ion-label>    </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-textarea placeholder="Comenta Aqui"></ion-textarea>
                </div>
              </ion-accordion>
            </ion-accordion-group>

          <ion-button color="success"><ion-icon slot="start" name="add-circle-outline" ></ion-icon>Entrar como pasajero</ion-button> 
          <ion-button color="danger" (click)="eliminar(aux.id)" >
            eliminar
    <ion-icon name="warning-outline" style="margin-left:10px ;"></ion-icon>
          </ion-button>
        </ion-card>

      </ion-item>
    </ion-list>

  <ion-footer>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button  (click)="mapas()">
          <ion-icon name="map-outline"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-tab-button>
    
        <ion-tab-button (click)="viaju()">
          <ion-icon name="time-outline"></ion-icon>
          <ion-label>Historial</ion-label>
        </ion-tab-button>
    
        <ion-tab-button (click)="perfile()">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-footer>

</ion-content>

<ion-footer >
  <ion-toolbar color="warning" >
  </ion-toolbar>
</ion-footer>